
<app-header></app-header>
<mat-card class="innerpagebanner videogallerybg innercommonbannercls">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>video gallery</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<!-- <mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>service lists</h2>
            </mat-card-content>
        </span>
</mat-card> --> 
<mat-card class="ptb-40 generalcls videogallerywrapper" style="background: #fff !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Video gallery</h2>
            <p>Check out some videos from my past seminars, workshops and other speaking engagements. This Video gallery is updated <br>regularly. So, you can always come back to check out the videos from my latest events.</p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">    
        
        <!-- <img src="../../../../assets/images/videogallery_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
            <mat-list class="gallaryimgvideo">
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/RxF3_jOHwQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                    <mat-list-item class="item" style="">
                            <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                                <iframe frameborder="0" width="100%" marginheight="0" marginwidth="0" scrolling="no" src="https://www.youtube.com/embed/B3MDJsggfDg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                        
                    </mat-list-item>
                       
                </mat-list>

        
    </span> 
</mat-card>

<app-footer></app-footer>