.aboutusbg.mat-card{background:url('../../../../assets/images/aboutusbg.jpg') no-repeat top right;background-size: cover;}
.testimonialblock1{background: #fff;}
.testimonialblock2{background: #7fafcd;}