<app-header></app-header>
<mat-card class="innerpagebanner couplescounselingbg">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>Couples <br>Counseling</h1>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls couplescounselingwrapper innercommonbannercls">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper titlewrapper1">
            <h2>Become The Best Version Of YOU!!</h2>
            <p>Become the best person YOU can be with Personal Development Coaching methods that WORK! Let me help you
                develop into the person you aspire to be and much more,
                and achieve success at very high levels in all your endeavors in life.</p>
        </mat-card-content>
        <mat-list class="bolock2container pt-30">
            <mat-list-item>
                <mat-card-content class="textwrapper">
                    <p>
                        <strong>Why do you require Personal Development Coaching?</strong>
                        Or do you even need it? Well,
                        as Heraclitus of Ephesus, a pre-Socratic Ionian Greek philosopher, once said,
                        <span>“The Only Constant In Life Is CHANGE!” </span>Everything around you is in a constant state
                        of change.
                        Everything is continually developing and advancing. If you decide not to change at the same
                        time,
                        or do it at a pace slower than that of the things changing around you, you will always find
                        yourself falling back.
                    </p>
                    <p>
                        In such scenarios, you will most likely find yourself stuck in the same place,
                        watching everything else rush by, or move aimlessly and achieve nothing at all.
                        Life around you will continue to move, evolve, expand or contract, and grow, while you will move
                        nowhere,
                        eventually reducing to dust with no trace left behind. You must continue to learn, develop new
                        talents and skills,
                        and become a better version of yourself than you currently are if you are to leave behind a mark
                        for others to remember you.
                        Even if you do not wish to achieve anything of significance, you still need to evolve in order
                        to survive the testing conditions of daily life.
                    </p>
                </mat-card-content>
            </mat-list-item>
        </mat-list>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls block3">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper">
            <h2>Personal Development Mentoring That Can Help YOU</h2>
            <p>Great leaders and individuals are not immune to failure,
                but they refuse to let their mistakes and misfortunes sink them.
                This seemingly impossible feat for many of us is not so out of reach.
                It all comes down to a moment-by-moment control of your mindset and deep understanding of where your
                emotions come from.
                Personal development has many helping tools and you can learn them through reading and investigating,
                but nothing puts you on the right track as a mentor does — someone to be a mirror and a rock for you on
                your path.
                That is what I do, that is who I am.
            </p>
        </mat-card-content>
        <mat-card-content class="textwrapper">
            <img src="../../../../../assets/images/pd_banner3.png">
            <p>
                <span>I am someone who has overcome adversity throughout my life by not only persevering but also
                    believing that H.O.P.E. is an action word — </span>
                Having Only Positive Expectations! This mindset is hard-won, but not complicated. Having helped other
                Men,
                Couples, Families, and Individuals overcome traumatic events, and illness for over 25 years, and more
                importantly,
                as a parent of a traumatically brain injured adult, for over 17 years, I have a unique perspective on
                compassion,
                resilience, drive, and determination!
            </p>
            <p>
                <strong>
                    In my personal development mentoring programs, I bring this experience to the relationship.
                    You can face your challenges and not only withstand them, but conquer and win.
                    The difference between success and failure in your life comes down to small moments of internal
                    dialogue and decision.
                    I will teach you the tools to conquer these moments and be there right with you in our sessions to
                    help you gain more control.
                </strong>
            </p>
        </mat-card-content>
    </span>
</mat-card>


<mat-card class="ptb-40 generalcls block4">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper">
            <h2>You Deserve To Thrive And So Does Your Relationship</h2>
        </mat-card-content>
        <span class="block3content">
            <mat-card-conttent class="block4subwrapper textwrapper">
                <h3>I believe that all individuals have a desire to achieve something great in their lives.
                    Hands of Hope Coaching was developed with that thought in mind. My Personal Development programs
                    will:
                </h3>
                <mat-list>
                    <mat-list-item>
                        <i>ENCOURAGE</i>
                        <p>
                            <strong>Did you know that words can change your Biochemistry?</strong>
                            Encouraging is one of the easiest ways to earn trust, build rapport and gain confidence of
                            others.
                            The first level of our program will be spent learning as much as possible about the client.
                            To ENCOURAGE them to dream big. To feel comfortable enough to share with the coach,
                            any aspect of their life that allows the coach to guide them to develop strategies that will
                            help them achieve big
                            things in their life. Encouragement is best to create this type of healthy environment that
                            will allow the individual
                            to feel free to soar. To be Fearless as they create a life of passion and fulfillment.
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <i>ENERGIZE</i>
                        <p>
                            <strong>Physically, and Nutritionally. We believe that your level of physical energy gives
                                you an edge.</strong>
                            Without focusing on our body, this is not possible. Having peak health will give you the
                            energy to set and achieve big goals.
                            I believe that having great energy is the differentiating factor of someone who achieves
                            success and has great charisma.
                            I’m always amazed by how individuals have set challenging financial and relationship goals
                            but neglect the most
                            important thing — Their health! They find how little energy they have to pursue those goals.
                            In reality, without your health,
                            it’s impossible to have the energy to go after what you want most in life.
                        </p>
                    </mat-list-item>
                    <mat-list-item>
                        <i>ELEVATE</i>
                        <p>
                            <strong>It’s really all about Growth and Contribution. While growing, you are alive with
                                purpose, drive, and determination. It’s a lot easier to have a passion</strong>
                            for life when you are contributing beyond yourself.
                            I strongly believe that giving is the key to getting in life.
                            That’s why the final step of my program focuses on not only Elevating you, but taking others
                            on the journey.
                            You will be able to create a life of passion and magic by giving beyond yourself.
                            Learning to love others unconditionally and meeting their needs is the result of constant
                            growth and contribution.
                            You will Soar like an eagle as you continue to love and contribute at a high level.
                        </p>
                    </mat-list-item>
                </mat-list>

            </mat-card-conttent>
        </span>

        <mat-card-content class="titlewrapper block4titlewrapper2">
            <h2>Refine Yourself By Making A Commitment To Your Personal Development</h2>
        </mat-card-content>
    </span>
    <img class="lstabimg" src="../../../../../assets/images/pd_banner5.png">
        <span class="mainwrappercontent bloghead">

        <span class="block5subwrapper">
            
            <mat-card-conttent class="textwrapper">
                <mat-list>
                    <mat-list-item>Uncover your passions and dreams, and utilize your inner strength to achieve them
                    </mat-list-item>
                    <mat-list-item>Identify obstacles in your path to success and overcome them</mat-list-item>
                    <mat-list-item> Learn to control and give direction to your thoughts, and focus better
                    </mat-list-item>
                    <mat-list-item>Learn to identify personal and professional relationships that offer happiness and
                        contentment, and maintain such relationships</mat-list-item>
                    <mat-list-item>Learn to identify potentially harmful relationships and keep away from them
                    </mat-list-item>
                    <mat-list-item>Empower yourself to take giant strides towards positive personal development
                    </mat-list-item>
                    <mat-list-item>Achieve great things while also being able to acknowledge and enjoy them along the
                        way </mat-list-item>
                </mat-list>
                <p>
                    <strong>You must make a commitment to push beyond setbacks and excuses,</strong> and strive to become the best version of yourself.
                    At the same time, I would also be making a commitment to helping you come up with a customized personal development plan,
                    only for you. Unlike most other such programs and mentors out there, I am not going to ask you to emulate a certain
                    lifestyle or set your goals for you. That is not how my program works.
                </p>

                <p>
                    Instead, we would be working as a team to determine the best practices that would help in obtaining the skills,
                    temperament, aptitude, and mentality that will help YOU achieve the goals that YOU have set for yourself.
                    Customization of the mentorship programs is the key here! Using the resources available in my program,
                    you will be able to accomplish your goals and do much more, with tremendous commitment and responsibility. You will be able to:
                </p>
            </mat-card-conttent>
        </span>
    </span>
</mat-card>

<app-footer></app-footer>