.blogbg.mat-card{background:url(../../../../assets/images/blogbg.jpg) no-repeat top right;background-size:cover;}
.example-tree-invisible{display:none}
.example-tree ul,.example-tree li{margin-top:0;margin-bottom:0;list-style-type:none}
.example-tree ul,.example-tree ul ul,.example-tree ul ul{margin-left:10px}
.mat-tree{background:transparent!important}



.search-sec .mat-search-bar {
    margin-right: 0!important;
  }

  .search-sec .example-full-width{ margin-left: 0px;}
  .search-sec .example-full-width:nth-of-type(1){ margin-right:5px;}


  .generalcls.bloglists .item .mat-card-content h2{   overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;}

    .bloglists .item_wrapper>.item .description{   overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;}

      /* .description p img{ display: none!important;} */

  @media only screen and (max-width: 600px) {
    .search-sec .example-full-width:nth-of-type(1){ margin-right:0px;}

  }