<span class="httploadercls" *ngIf="httpLoading == true">
    <span class="overlay">
      <span class="app-loading">
        <div class="loader">
            <div class="spinner windcatcher">
                <div class="blade"></div>
                <div class="blade"></div>
                <div class="blade"></div>
                <div class="blade"></div>
                <div class="blade"></div>
                <div class="blade"></div>
                <div class="blade"></div>
                <div class="blade"></div>
            </div>
        </div>
    </span>
  </span>
</span>