.contactusbg.mat-card{background:url(../../../../assets/images/contactusbg.jpg) no-repeat top right;background-size:cover}
.contactuswrapper.mat-card{background:url(../../../../assets/images/contactuswrapperbg.png) no-repeat center center #fff!important;background-size:cover!important}
.contactusimgwrap{position:absolute;bottom:-80px;left:2%;width:40%}
.contactusblockinner{display:flex!important;justify-content:space-between;align-items:stretch}
.contactusinfoblock{padding:0;position:absolute;top:50%;left:3%;width:40%;transform:translateY(-50%);z-index:9999}
.contact-form .contactusinfoblock .main-div .mat-card{margin:4em auto!important}
.contactusformblock{flex:1 1 100%;position:relative}
.contactusinfoblock .mat-card{box-shadow:none!important;padding:30px 48px!important;background:transparent!important;height:100%}
.contactusinfoblock .mat-card img{margin-left:-22%;width:143%;margin-top:0}
.contactusinfoblock .mat-card h2{text-transform:uppercase;color:#fff;font-size:40px}
.contactusinfoblock .mat-card{box-shadow:none!important}
.contactusinfoblock .mat-card{padding:0!important}
.contactusinfoblock .mat-card img{width:130%}
.contactusblock{position:relative}

.generalcls p{text-align: center!important;}
@media (max-width: 1280px) {
.contactusinfoblock .mat-card img{width:118%;margin-left:-10%;margin-top:-15%}
}
@media (max-width: 1199px) {
.contactusinfoblock .mat-card img{margin-left:auto;width:100%;margin-top:0}
.contactusimgwrap{position:absolute;bottom:-80px;left:-18%;width:56%}
}
@media (max-width: 991px) {
.contactusimgwrap{position:inherit;bottom:0;left:0;width:28%}
.contactusinfoblock{padding:0;position:inherit;top:0;left:0;width:100%;transform:inherit;height:auto;z-index:9999}
.contactusinfoblock .mat-card{box-shadow:none;padding:30px 48px!important;background:transparent;height:auto}
.contact-form .main-div .from.mat-card{margin:0!important;width:100%!important;padding-left:15px!important;padding-right:15px!important;margin:0 auto!important}

.contactusblockinner{   display: block;}

.contactusimgwrap{ display: none;}
}

