<app-header></app-header>
<mat-card class="innerpagebanner contactusbg innercommonbannercls">
        <span class="mainwrappercontent">
            <mat-card-content>
                <span>
                    <h1>CONTACT US</h1>
                    <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
                </span>
            </mat-card-content>
        </span>
    </mat-card>

    <mat-card class="ptb-40 generalcls contactuswrapper">  
            <span class="mainwrappercontent bloghead">
                <mat-card-content>
                    <h2>contact us</h2>
                    <p>
                        Get in touch TODAY, and I can lead you to the path to getting what you need and seek. You can hire me to speak at conferences, workshops, and seminars in<br> your Organisation or you can book One-on-One sessions with me to discuss your issues privately. Fill out the form here and provide the<br> details of your needs, and I’ll work on scheduling the interaction at the earliest possible minute.
                    </p>
                </mat-card-content>
            </span>
            <span class="mainwrappercontent contactusblock">  
                    <span class="contactusimgwrap"><img src="../../../../assets/images/contactusmainimg.png" style="width: 100%; display: block; margin: 0; padding: 0;"></span>              
                <mat-card-content class="contactusblockinner"> 
                    <span class="contactusformblock">
                        <lib-contactus [serverUrl]="serverUrl" [addEndpoint]="addEndpoint" [routeingUrl]="pageUrl" [formTitle]="formTitle" class="formgenrl contact-form"></lib-contactus>
                    </span>            
                </mat-card-content>
                
            </span> 
        </mat-card>

<app-footer></app-footer>


