.servicebg.mat-card{background:url(../../../../assets/images/contactusbg.jpg) no-repeat top right;background-size: cover;}
.homeblock2servimg{position: relative; min-height: 315px; max-height: 400px;}
.homeblock2servimg {position:relative;}
.sharelinkswrapper{position: absolute; right: 0px; bottom: -60px; background: white; margin: 0; padding: 2px; display: block; transition: all 0.3s;}
.sociallink fa{display: block;}
.blogsociallists {margin-top: 0;}
.blogsociallists a{padding: 0 1px;}
.homeblock2servimg:hover .sharelinkswrapper{bottom: 0px;}
.homeblock2servimg .blogsociallists {margin-right: 0px;}