<app-header></app-header>
<mat-card class="innerpagebanner seminarsbg innercommonbannercls">
  <span class="mainwrappercontent">
    <mat-card-content>
      <span>
        <h1>seminars</h1>
        <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods
          that will make immediate improvements in your lives.</p>
      </span>
    </mat-card-content>
  </span>
</mat-card>

<mat-card class="ptb-40 generalcls workshopswrapper" style="background: #f2f4f2 !important;">

  <mat-card class="event_wrapper">




    <mat-card-content class="event_left">

      <span class="event_blog">
        <span class="event_blog_top">
          <span>
            <label><i class="material-icons">date_range</i> {{seminer.event_date}} </label>
            <p><i class="material-icons">location_on</i> {{seminer.location}} ,{{seminer.state}} ,{{seminer.city}}</p>
          </span>   

          <span class="blogsociallists event_share_block">
            <a class="sociallink fa fb" (click)="fbshare(seminer)" target="_blank">
              <fa name="facebook" class="fa-facebook"></fa>
            </a>
            <a class="sociallink fa twi" (click)="twitterShare(seminer)" target="_blank">
              <fa name="twitter" class="fa-twitter"></fa>
            </a>
            <a class="sociallink fa tumblr" (click)="tumblrShare(seminer)" target="_blank">
              <fa name="tumblr" class="fa-tumblr"></fa>
            </a>
            <a class="sociallink fa lin" (click)="linkedinShare(seminer)" target="_blank">
              <fa name="linkedin" class="fa-linkedin"></fa>
            </a>
            <!-- <a class="sociallink fa env">
              <fa name="envelope" class="fa-envelope"></fa>
            </a> -->
            <!-- <a class="sociallink fa share" (click)="copyText('https://dev.arniefonseca.influxiq.com/blogdetail?affid='+blog[0]._id)">
              <fa name="share" class="fa-share"></fa>
            </a> -->
          </span>



          <!-- <span class="event_share_block">
            <a class="sociallink fa fb" (click)="fbshare(seminer)" target="_blank">
              <img src="../../../../assets/images/share_img1.jpg">
            </a>
            <a class="sociallink fa twi" (click)="twitterShare(seminer)" target="_blank">
              <img src="../../../../assets/images/share_img2.jpg">
            </a>
            <a class="sociallink fa tumblr" (click)="tumblrShare(seminer)" target="_blank">
              <img src="../../../../assets/images/share_img3.jpg">
            </a>
            <a class="sociallink fa lin" (click)="linkedinShare(seminer)" target="_blank">
              <img src="../../../../assets/images/share_img4.jpg">
            </a>
          </span> -->

        </span>
        <h3>{{seminer.title}} – {{seminer.time}}-{{seminer.timeZone}}</h3>

        <span class="event_img">
          <img [src]="seminer.image">
        </span>

        <p class="event_text"> <span class="spantext" [innerHtml]="seminer.description"></span></p>

        <h6>Tickets:</h6>

        <label><span innerHTML="{{seminer.bookingLink}}"></span></label>

        <span class="clear"></span>



      </span>

    </mat-card-content>

    <mat-card-content class="event_right eventlistrightthumbnail">
      <h2>Past seminers</h2>
      <h3 class="norecordfound" *ngIf="pastEvent =='' "><span>Oops!</span> No Record Found</h3>

      <span>

        <span class="event_right_blog" *ngFor="let item of pastEvent | slice:0:indexvalright; let i=indexval">


          <span class="event_right_blog_wrapper">
            <span class="event_right_blog_wrapperrow">
              <span class="event_right_blog_img">
                <span class="event_right_blog_img_wrapper">
                  <img [src]="item.image">  
                </span>                
              </span>
              <span class="event_right_blog_text">
  
                <p>{{item.title}}</p>
                <span class="event_blog_top">
                  <label>{{item.event_date}}</label>  
                  <button (click)="viewDetails(item)">Know more</button>
                </span>
  
                <span class="clear"></span>
                <span class="blogsociallists event_share_block">
                  <a class="sociallink fa fb" (click)="fbshare(item)" target="_blank">
                    <fa name="facebook" class="fa-facebook"></fa>
                  </a>
                  <a class="sociallink fa twi" (click)="twitterShare(item)" target="_blank">
                    <fa name="twitter" class="fa-twitter"></fa>
                  </a>
                  <a class="sociallink fa tumblr" (click)="tumblrShare(item)" target="_blank">
                    <fa name="tumblr" class="fa-tumblr"></fa>
                  </a>
                  <a class="sociallink fa lin" (click)="linkedinShare(item)" target="_blank">
                    <fa name="linkedin" class="fa-linkedin"></fa>
                  </a>
                </span>
              </span>
              <span class="clear"></span>
            </span>
            <!-- <button class="viewalleventbtn">Load More</button> -->
          </span>
  
  
        </span>

        <button class="viewalleventbtn" (click)="viewallbutton()" *ngIf=" pastEvent!=null &&pastEvent.length > indexvalright" >View All</button>
      </span>


      <!-- <button class="viewalleventbtn">Load More</button> -->
      <!-- <span class="event_right_blog">


                <span class="event_right_blog_wrapper">

                      <span class="event_right_blog_wrapperrow">

                <span class="event_right_blog_img">
                    <img src="../../../../assets/images/event_img1.jpg"   >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected</p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>
                  </span>
                </span>

            </span>

        <span class="event_right_blog">


                <span class="event_right_blog_wrapper">

                      <span class="event_right_blog_wrapperrow">

                <span class="event_right_blog_img">
                    <img src="../../../../assets/images/event_img1.jpg"   >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected</p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>
                  </span>
                </span>

            </span>
        <span class="event_right_blog">


                <span class="event_right_blog_wrapper">

                      <span class="event_right_blog_wrapperrow">

                <span class="event_right_blog_img">
                    <img src="../../../../assets/images/event_img1.jpg"   >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected</p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>
                  </span>
                </span>

            </span>
        <span class="event_right_blog">


                <span class="event_right_blog_wrapper">

                      <span class="event_right_blog_wrapperrow">

                <span class="event_right_blog_img">
                    <img src="../../../../assets/images/event_img1.jpg"   >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected</p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>
                  </span>
                </span>

            </span>
        <span class="event_right_blog">


                <span class="event_right_blog_wrapper">

                      <span class="event_right_blog_wrapperrow">

                <span class="event_right_blog_img">
                    <img src="../../../../assets/images/event_img1.jpg"   >
                </span>
                <span class="event_right_blog_text">

                    <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected</p>

                    <label>Oct 17, 2019</label>

                    <button>Know more</button>

                     <span class="clear"></span>
                </span>
                <span class="clear"></span>
                  </span>
                </span> -->

      <button *ngIf="indexvallength > indexval && indexvallength !=null" class="viewalleventbtn"
        (click)="blogloadmore()">Load More</button>



    </mat-card-content>


    <span class="clear"></span>


  </mat-card>
</mat-card>

<app-footer></app-footer>
