<app-header></app-header>
<mat-card class="innerpagebanner couplescounselingbg innercommonbannercls">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>Couples <br>Counseling</h1>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls couplescounselingwrapper">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper titlewrapper1">
            <h2>You Deserve To Thrive And So Does Your Relationship</h2>
            <p>Do you really think that continuing to live in an unhappy relationship OR filing for Divorce are your
                only TWO options to deal with the struggles you face with your partner? I am here to offer you a THIRD
                (and a much better) way!</p>
        </mat-card-content>
        <mat-list class="bolock2container pt-30">
            <mat-list-item>

                <img src="../../../../../assets/images/couplesbanner2.png">

            </mat-list-item>
            <mat-list-item>
                <mat-card-content class="textwrapper">
                    <p>
                        <span>Talking to a total stranger about the hardships,</span>
                        struggles and the many nuances of the relationship you share with your partner may not be ideal.
                        In fact,
                        it never is! It may, however, be just the thing you need to get the rocking boat to gain some
                        stability
                        and sail in smooth and calm waters. Sometimes, this could also offer some much needed favorable
                        winds and add some flavor,
                        spice and juice to your relationship.
                    </p>
                    <p>
                        Make a decision TODAY! Decide to do Something about the unhappy state of your marriage or your
                        romantic relationship with your
                        partner. Take it away from the turbulent waters and bring some stability and excitement to it.
                        Do all of this with
                        proven methods that will definitely help to resolve the differences between you and your
                        partner.
                        <span>It is not uncommon to come across minor and major differences, misunderstandings,
                            disagreements, etc.</span>
                        with your partner. The focus, however, should always be on finding the best and the swiftest
                        resolution and not on
                        the differences and disagreements.
                    </p>
                </mat-card-content>
            </mat-list-item>
        </mat-list>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls block3">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper">
            <h2>You Deserve To Thrive And So Does Your Relationship</h2>
            <p>Do you really think that continuing to live in an unhappy relationship OR filing for Divorce are your
                only TWO options to deal with the struggles you face with your partner? I am here to offer you a THIRD
                (and a much better) way!</p>
        </mat-card-content>
        <mat-list class="block3imgmainwrapper">
            <mat-list-item><img src="../../../../../assets/images/couplimg1.png"></mat-list-item>
            <mat-list-item><img src="../../../../../assets/images/couplimg2.png"></mat-list-item>
            <mat-list-item><img src="../../../../../assets/images/couplimg3.png"></mat-list-item>
        </mat-list>
        <mat-card-content class="textwrapper">
            <p>There is, however, only ONE reason why you should fight until the very end to save your marriage.
                <span>IT IS WORTH IT!!</span> That’s just it. Every relationship is worth saving and can absolutely be
                saved if you are willing.
                You simply need to find out once again, and relive, the reasons that attracted the two of you in the
                first place.
                Once you do that, you can once again find the love, romance, emotional connection and harmony that you
                desire.</p>

            <h3>So, how do go about in your pursuit of that desired happiness and bliss in your marriage? That’s what I
                am here to show you.
                I will guide you through retracing your steps towards that joyous and harmonious relationship that you
                once had,
                and seemed to have lost along the way!</h3>
        </mat-card-content>
    </span>
</mat-card>


<mat-card class="ptb-40 generalcls block4">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper">
            <h2>You Deserve To Thrive And So Does Your Relationship</h2>
        </mat-card-content>
        <span class="block3content">
            <mat-card-conttent class="block4subwrapper textwrapper">
                <h3>In my counseling programs and therapy sessions, I am going to address some common issues and
                    concerns that include (but are not limited to):</h3>
                <mat-list>
                    <mat-list-item>Frequent, and often unnecessary, arguments</mat-list-item>
                    <mat-list-item>Commitment issues</mat-list-item>
                    <mat-list-item>Infidelity</mat-list-item>
                    <mat-list-item>Communication gaps and misunderstandings</mat-list-item>
                    <mat-list-item>Emotional connection</mat-list-item>
                    <mat-list-item>Sexual intimacy</mat-list-item>
                    <mat-list-item>Adjustments to transitions and new developments</mat-list-item>
                    <mat-list-item>Balancing the relationship with individual professional lives</mat-list-item>
                    <mat-list-item>Financial insecurities</mat-list-item>
                    <mat-list-item>Parenting issues</mat-list-item>
                    <mat-list-item>Making small and major decisions together</mat-list-item>
                </mat-list>
                <p>At the same time, I am also a strong believer of offering customized counseling and therapy depending
                    on specific issues faced by the couples that come to me for Couples Counseling. I see every couple
                    differently,
                    according to their specific circumstances and needs, and counsel them accordingly, towards enhancing
                    the relationship.</p>
            </mat-card-conttent>
        </span>

        <mat-card-content class="titlewrapper block4titlewrapper2">
            <h2>What you can learn from my Couples Counseling programs</h2>
            <p>Once you begin attending my Couples Counseling program with your partner, you will be able to:</p>
        </mat-card-content>
        <span class="block5subwrapper">
            <mat-list>
                <mat-list-item><p>Resolve conflicts with harmony</p></mat-list-item>
                <mat-list-item><p>Regulate and Communicate your thoughts, feelings and emotions more effectively</p></mat-list-item>
                <mat-list-item><p>Be more assertive without sounding rude or offensive</p></mat-list-item>
                <mat-list-item><p>Develop better understanding and intimacy within the relationship</p></mat-list-item>
                <mat-list-item><p>Promote self-awareness and growth</p></mat-list-item>
                <mat-list-item><p>Promote self-awareness and growth</p></mat-list-item>
                <mat-list-item><p>Effectively deal with situations before they become major issues</p></mat-list-item>
                <mat-list-item><p>Deal with Partner Anxiety and Depression</p></mat-list-item>
                <mat-list-item><p>Cope better with grief and loss</p></mat-list-item>
                <mat-list-item><p>Effectively and effortlessly manage your anger</p></mat-list-item>
            </mat-list>
        </span>
        <mat-card-content class="titlewrapper block4titlewrapper2">
            <h3>With plenty to gain from my Couples Counseling programs, you can not only save your relation-SHIP from drowning 
                in troubled waters, you can also embark on a journey towards happier destinations and marital bliss.</h3>
        </mat-card-content>
    </span>
</mat-card>

<!-- <span style="display: block; width: 100%;"><img src="../../../../../assets/images/Couplesimg1.png"
        style="width: 100%;display: block;"></span>
<span style="display: block; width: 100%;"><img src="../../../../../assets/images/Couplesimg2.png"
        style="width: 100%;display: block;"></span>
<span style="display: block; width: 100%;"><img src="../../../../../assets/images/Couplesimg3.png"
        style="width: 100%;display: block;"></span>
<span style="display: block; width: 100%;"><img src="../../../../../assets/images/Couplesimg4.png"
        style="width: 100%;display: block;"></span> -->





<app-footer></app-footer>