<app-header></app-header>
<mat-card class="innerpagebanner teambg innercommonbannercls">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>our team</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls teamwrapper" style="background: #f2f4f4 !important; text-align: center;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>our team</h2>
            <p>
                No accomplished person ever has managed to do it all on his/her own. There is always an efficient team working tirelessly behind the scenes to propel and assist them on their way to greatness. The same is the case for me. My team of experts has been loyal and stuck by my side through thick and thin, and it is important for me to give a shout out to them here! Check out the panel of experts that have become a Family I’m incredibly proud of!
            </p>
            <span>
                <button mat-button class="btngreen sim-button" [routerLink]="['/']">Meet The TEAM</button>
                <button mat-button class="btngray sim-button" [routerLink]="['/']">BY DEPARTMENT</button>
            </span>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">                
        <!-- <img src="../../../../assets/images/team_blockimg1.png" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
        <mat-list class="teamlist">

            <!---Single Team--->

            <mat-list-item class="singleteam">
                <span class="teamimg">
                    <img src="../../../../assets/images/teamimg1.jpg">
                </span>
                <span class="teamcontent">
                    <h2>Lorem ipsum dolor</h2>
                    <p>Chief Executive Officer / Creative Director / Founder</p>
                    <button mat-button class="btnwhite sim-button" [routerLink]="['/']">Full bro</button>
                </span>
            </mat-list-item>

             <!---End Single Team--->

            <!---Single Team--->

            <mat-list-item class="singleteam">
                    <span class="teamimg">
                        <img src="../../../../assets/images/teamimg2.jpg">
                    </span>
                    <span class="teamcontent">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Chief Executive Officer / Creative Director / Founder</p>
                        <button mat-button class="btnwhite sim-button" [routerLink]="['/']">Full bro</button>
                    </span>
            </mat-list-item>

             <!---End Single Team--->

            <!---Single Team--->


            <mat-list-item class="singleteam">
                    <span class="teamimg">
                        <img src="../../../../assets/images/teamimg3.jpg">
                    </span>
                    <span class="teamcontent">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Chief Executive Officer / Creative Director / Founder</p>
                        <button mat-button class="btnwhite sim-button" [routerLink]="['/']">Full bro</button>
                    </span>
            </mat-list-item>
            <mat-list-item class="singleteam">
                    <span class="teamimg">
                        <img src="../../../../assets/images/teamimg4.jpg">
                    </span>
                    <span class="teamcontent">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Chief Executive Officer / Creative Director / Founder</p>
                        <button mat-button class="btnwhite sim-button" [routerLink]="['/']">Full bro</button>
                    </span>
            </mat-list-item>
            <mat-list-item class="singleteam">
                    <span class="teamimg">
                        <img src="../../../../assets/images/teamimg5.jpg">
                    </span>
                    <span class="teamcontent">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Chief Executive Officer / Creative Director / Founder</p>
                        <button mat-button class="btnwhite sim-button" [routerLink]="['/']">Full bro</button>
                    </span>
            </mat-list-item>
            <mat-list-item class="singleteam">
                    <span class="teamimg">
                        <img src="../../../../assets/images/teamimg6.jpg">
                    </span>
                    <span class="teamcontent">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Chief Executive Officer / Creative Director / Founder</p>
                        <button mat-button class="btnwhite sim-button" [routerLink]="['/']">Full bro</button>
                    </span>
            </mat-list-item>

             <!---End Single Team--->

        </mat-list>
    </span> 
</mat-card>

<app-footer></app-footer>