<app-header></app-header>
<mat-card class="innerpagebanner employeetrainingbg innercommonbannercls">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>employee training</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful
                    methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="ptb-40 generalcls employeetrainingwrapper">
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Our Training Program Involves</h2>
            <p>
                Professional training and coaching program to help your employees increase their productivity and
                performance in the workplace, and improve revenue-generation.
            </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">
        <mat-list role="list" class="threecolumnlist">
            <mat-list-item role="listitem">
                <span class="as_iconwrapper">
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon1.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Efficient Program Management</h2>
                    <p>Custom planning and execution to ensure that your employees receive training according to their
                        needs.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="as_iconwrapper">
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon2.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Analysis & Assessment</h2>
                    <p>Each employee is consulted, and their individual needs are assessed and analyzed before
                        formulating training methods.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="as_iconwrapper">
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon3.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Alignment</h2>
                    <p>Training methods and programs are formulated in alignment with the business goals and initiatives
                        of the Organization.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="as_iconwrapper">
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon4.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Hierarchy Buy-in</h2>
                    <p>The leadership unit of the organization is included to manage organizational and employee
                        expectations, and evoke accountability.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="as_iconwrapper">
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon5.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Creativity</h2>
                    <p>Keeping an open mind towards creative inputs from Organizational heads, Leadership team, and the
                        employees for continuous improvement of the training program.</p>
                </span>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="as_iconwrapper">
                    <span class="iconlist1-wrap">
                        <span class="iconlist iconlist1">
                            <img src="../../../../assets/images/iconlist1-icon6.png">
                        </span>
                    </span>
                </span>
                <span class="iconlist1content">
                    <h2>Post-Training Evaluation</h2>
                    <p>Regular analysis and evaluation to ensure that employees are implementing the new concepts and
                        methods of the training program.</p>
                </span>
            </mat-list-item>           


            <mat-card-content class="borderwrapper">
                <span class="border1"></span>
                <span class="border2"></span>
                <span class="border3"></span>
            </mat-card-content>

        </mat-list>
        <!-- <img src="../../../../assets/images/employeetraining_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
    </span>
</mat-card>

<mat-card class="block2">
    <mat-card-conttent class="block2textwrapper textwrapper">
        <h2>Revenue Through Attitude — <br> High-Performance Training For Your Employees</h2>
        <p>Having employees with a personal desire to work hard and be a part of company culture is much more important
            than most realize.
            As business owners and managers, we know the power of personal focus and satisfaction from our own
            performance.
            In our Revenue Through Attitude programs, we focus on one major thing — High performance, driven from a
            personal desire to succeed as a valued employee.
        </p>

        <p>We hire people for a reason! We need them. The facts are we need them to love what they are doing like WE DO!
            And to have their own reasons to share in your vision. I can get them on track through
            my “Revenue through Attitude” employee training programs.
        </p>
        <a>READ MORE</a>
    </mat-card-conttent>
</mat-card>

<mat-card class="block3 pt-50">
        
    <span class="ascontainer">
        <mat-card-conttent class="textwrapper">
            <h2>The Objectives of my “Revenue Through Attitude” Employee Training Program</h2>
            <span class="block3content">
                <mat-card-conttent class="block3subwrapper textwrapper">
                    <h3>My “Revenue through Attitude” training has been developed to serve FOUR very specific purposes.
                        They are:</h3>
                    <mat-list>
                        <mat-list-item> To empower employees with the skills to counter challenging situations and
                            perform according to the needs and expectations of their job role and your organization.
                        </mat-list-item>
                        <mat-list-item> To educate your employees with new innovative methods of performing their job
                            roles effectively,
                            so that they can obtain better results in a competitive environment. </mat-list-item>
                        <mat-list-item> To equip new employees with the requisite knowledge and skill-sets to perform
                            their job functions at very high levels. </mat-list-item>
                        <mat-list-item> To train new and existing employees to perform higher-level tasks that may
                            require more complex capabilities, preparing them for professional growth. </mat-list-item>
                    </mat-list>
                    <p>Let’s get your employees together, and let’s empower them so that they are able to raise the
                        standards of performance. Let’s get them to perform at levels that will not only
                        provide a boost to their own professional growth but also help you grow your business massively
                        through increased output and revenue.</p>
                </mat-card-conttent>
            </span>

            <span class="block4content">
                <mat-card-conttent class="block3subwrapper2 textwrapper">
                    <h2>Benefits on Offer</h2>
                    <p>My “Revenue through Attitude” programs offer several benefits to your employees and empower
                        them to perform better towards the development of your organization. Some of those important
                        benefits include:
                    </p>
                </mat-card-conttent>
                <span class="block3subblock2">
                    <mat-list>
                        <mat-list-item>
                            <span>1</span>
                            <p>Ability to perform their tasks without constant assistance or supervision.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>2</span>
                            <p>Optimum utilization of tools, materials, and other available resources to derive
                                outstanding results consistently.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>3</span>
                            <p>Effective and efficient use of available resources to minimize wastage.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>4</span>
                            <p>Improved commitment toward your organization through constant learning and growth
                                opportunities.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>5</span>
                            <p>Decreased rates of absenteeism and resignations due to job dissatisfaction.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>6</span>
                            <p>Increased proficiency in performing higher-level tasks through improved knowledge and
                                skill-set development.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>7</span>
                            <p>Improvement in qualitative and quantitative output.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>8</span>
                            <p>Ability to counter challenges and compete, both within the firm as well as with rival
                                organizations.</p>
                        </mat-list-item>

                        <mat-list-item>
                            <span>9</span>
                            <p>Quicker and easier adaptability to changing trends, methods and new technological
                                developments.</p>
                        </mat-list-item>
                        <mat-list-item>
                            <span>10</span>
                            <p>Increased earning potential for their own as well as your organization through
                                drastically improved productivity and performance.</p>
                        </mat-list-item>

                    </mat-list>
                </span>

                <span class="block3subblock3">
                        <img class="lstimageab" src="../../../../assets/images/employeetrainingbanner4.png">
                    <mat-card-conttent class="textwrapper"></mat-card-conttent>
                    <h2>Some of the subjects that are offered in my employee training programs:</h2>
                    <span class="lstsubwrapper">
                    <mat-list>
                        <mat-list-item> The joy of work through personal performance</mat-list-item>
                        <mat-list-item> Understanding what your work adds to the entire team’s success</mat-list-item>
                        <mat-list-item> Why work is so much more satisfying when you participate in a positive company  culture</mat-list-item>
                        <mat-list-item> Understanding how your personal drive is the silent gift you give to those you work directly with</mat-list-item>
                        <mat-list-item> How to communicate effectively when there are challenges with your responsibilities</mat-list-item>
                        <mat-list-item> How to work towards mastery in your work and stay empowered to produce</mat-list-item>
                        <mat-list-item> Communication skills with customers, building loyalty and likeability</mat-list-item>
                        <mat-list-item> How to support employees and managers in a positive, yet firm, dialogue</mat-list-item>
                    </mat-list>
                    <p>My most popular programs are 3 hours-a-week over 2 weeks for 2 days, totaling 6 hours.
                        I bring materials, engage with the employees to participate, and leave them with empowering
                        objectives.
                        I also offer continuing support and additional training, and I can tell you they are worth it.
                    </p>

                    <p>Let’s get together and equip your employees and managers with the tools they need for delivering
                        improved performances. With my training programs, your employees will be able to massively
                        increase
                        productivity, and take your business to heights you never even imagined!</p>
                    </span>

                </span>
            </span>
        </mat-card-conttent>

    </span>
   
</mat-card>

<app-footer></app-footer>