<app-header></app-header>
<mat-card class="innerpagebanner contactusbg innercommonbannercls">
        <span class="mainwrappercontent">
            <mat-card-content>
                <span>
                    <h1>About “Coach Arnie”</h1>
                </span>
            </mat-card-content>
        </span>
    </mat-card>
<!-- <span style="display: block; width: 100%;"><img src="../../../../assets/images/biodemoimage2.png" style="display: block; width: 100%;"></span> -->
    <mat-card class="ptb-40 bioblock2 contactuswrapper">  
            <span class="mainwrappercontent bloghead">
                <mat-card-content class="textwrapper">
                <span class="imgwrapper"><img src="../../../../assets/images/bloimg1.png"></span>
                    <h2>Arnie Fonseca, Jr.,</h2>
                    <p class="subtitle">Fondly known among his students and in the industry as <span>“Coach Arnie”</span>, is a Public Speaker,
                         Business and Personal Consultant, Interventionist and a Men's Strategic Life Coach. He is also the visionary behind the 
                         ‘Hands of Hope Coaching’ Company, which has been creating positive, healthier, happier, and lasting change for
                          more than two decades now, offering people exciting and fulfilling experiences in their professional, personal and romantic lives.
                        </p>
                    <h3>For close to 40 years now, Coach Arnie has been guiding his students to overcome all odds and adversities 
                        in various areas of their lives through innovative and creative strategies.
                        His strategies and methods are solely focused on delivering RESULTS and helping his clients and students achieve their dreams,
                        goals, and ambitions at
                        
                        very high levels of success.  He is also an expert in guiding people through emotional,
                        physical and mental turmoils and challenges in their lives,
                         and succeeding in creating life-fulfilling experiences along the way.                        
                        </h3>
                    <p>Coach Arnie not only works with coaching individuals, groups and couples,
                        he also speaks at various events. He is also the founder of The Next Step Foundation. 
                        This foundation is a 501c(3) organization helping individuals, families and other <span>"Heart-Centered"</span> 
                        programs associated with his <span>“Hands Of Hope"</span> vision.
                        His workshops on a variety of topics will help you face and overcome overwhelming challenges in your health,
                        business and your relationships by focusing on Encouraging, Energizing and Elevating you beyond what 
                        you thought you could ever imagine for you, both in your professional and personal life.</p>

                    <p>
                        <strong>Fonseca, Jr.</strong>  has been working to Empower Men around the World to realize that they are capable of 
                        achieving anything with the right tools, strategies, and strong will. And that is exactly what Coach Arnie
                         has been doing for over the past three decades. His methods and strategies have helped countless individuals understand and 
                         experience total fulfillment in their relationships and in all the other areas of their life, love, and work.
                    </p>
                </mat-card-content>
            </span>
           
        </mat-card>

<app-footer></app-footer>

