<app-header></app-header>
<mat-card class="innerpagebanner imageallerybg innercommonbannercls">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>image gallery</h1>
                <p>Invite your audience to be mentored by me at your event, and learn some simple, <br> but powerful methods that will make immediate improvements in your lives.</p>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<!-- <mat-card class="innerpagetitle">
        <span class="mainwrappercontent">
            <mat-card-content>
                <h2>service lists</h2>
            </mat-card-content>
        </span>
</mat-card> --> 
<mat-card class="ptb-40 generalcls imagegallerywrapper" style="background: #f2f4f4 !important;">  
    <span class="mainwrappercontent bloghead">
        <mat-card-content>
            <h2>Image gallery</h2>
            <p>
                Check out some of the pictures from the many conferences, seminars, workshops and other such events that I have been a part of in the past.This <br>Image Gallery is updated after every event I attend. So, you can always check back regularly for the pictures from the latest and upcoming events.
            </p>
        </mat-card-content>
    </span>
    <span class="mainwrappercontent pt-30">   
        <!-- <img src="../../../../assets/images/imagegallery_blockimg1.jpg" style="width: 100%; display: block; margin: 0; padding: 0;"> -->
    
        <mat-list class="gallaryimgvideo">
            

            <mat-list-item class="item" style="">
                <span class="singlecolgallarycontent">
                    <h2>Lorem Ipsum </h2>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                    <span class="contentsection absolute">
                        <span class="blogsociallists">
                            <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                            <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                            <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                            <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                            <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                            <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                        </span>                                  
                    </span>    
                </span>
                <img src="../../../../assets/images/gallery-img1.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                    <img src="../../../../assets/images/gallery-img2.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img3.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img4.jpg">
                
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img5.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img6.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img7.jpg">
            </mat-list-item>        
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img8.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img9.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>    
                        </span>
                        <img src="../../../../assets/images/gallery-img10.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>   
                        </span>
                        <img src="../../../../assets/images/gallery-img11.jpg">
            </mat-list-item>
            <mat-list-item class="item" style="">
                    <span class="singlecolgallarycontent">
                            <h2>Lorem Ipsum </h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of over   <a><span>Read more...</span></a> </p>  
                            <span class="contentsection absolute">
                                    <span class="blogsociallists">
                                        <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                                        <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                                        <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                                        <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                                        <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                                        <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
                                    </span>                                  
                                </span>
                        </span>
                        <img src="../../../../assets/images/gallery-img12.jpg">
            </mat-list-item> 
             <!-- <mat-list-item class="item break" style=""></mat-list-item>   
            <mat-list-item class="item break" style=""></mat-list-item>   
            <mat-list-item class="item break" style=""></mat-list-item>    -->
         </mat-list>

 
          
    </span> 
</mat-card>

<app-footer></app-footer>