<app-header></app-header>
<mat-card class="innerpagebanner couplescounselingbg innercommonbannercls">
    <span class="mainwrappercontent">
        <mat-card-content>
            <span>
                <h1>
                    Special Programs <span>For Young Men (K12)</span>
                </h1>
            </span>
        </mat-card-content>
    </span>
</mat-card>
<mat-card class="generalcls couplescounselingwrapper sp_block3">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper">
            <h2>Success Individualized For Your Child</h2>
            <p>
                If you are one of those parents who prefer to Homeschool your child, 
                you will find our Special Programs for Young Men (K12 Education) extremely beneficial and educational. 
                Our diverse programs cover a lot of ground and offer children with multiple options and subjects to pursue. 
                At the same time, our programs also prepare your kids for higher education (College), as well as for their future careers, 
                in the subjects that they wish to pursue. Moreover, you can also provide quality education to your kids at much lesser costs 
                than the average expenses of education in the country.
            </p>
        </mat-card-content>

        <mat-card-content class="textwrapper sp_textwrappet">
            <p>
                <span>
                    Subjects covered in our programs include language, history, geography, arts, science, math, 
                    and several others. Our curriculum also includes courses on music and various other forms of performing arts, 
                    which are available to children in various grade levels. 
                </span>
                Electives in our programs include Foreign languages, Courses from Summer Schools, 
                STEM Courses, AP Courses, Early Learning Programs and many more. Along with these 
                courses, our program will also help you to prepare your child with an understanding of how schools 
                and colleges in the United States of America function so that they are able to prepare for the next 
                step in their educational development - The College Level.
            </p>
        </mat-card-content>
        <img src="../../../../../assets/images/sp_banner2.png">

    </span>
</mat-card>
<mat-card class="ptb-40 generalcls block4">
    <span class="mainwrappercontent bloghead">
        <mat-card-content class="titlewrapper">
            <h2>Benefits of Our Special Programs for Young Men (K12 Education)</h2>
        </mat-card-content>
        <span class="block3content">
            <mat-card-conttent class="block4subwrapper textwrapper">
                <h3> 
                    Apart from the diverse nature of our Special Programs for Young Men (K12 Education), 
                    which allows your child to learn a great deal about various subjects, there are a number of 
                    other critical benefits available to them. Some of these benefits include: 
                </h3>
                <mat-list>
                    <mat-list-item>
                        <i>Flexible learning methods that can be customized according to the capacity of the child</i>                        
                    </mat-list-item>
                    <mat-list-item>
                        <i>Customized curriculum that gives more importance on subjects that the child prefers</i>
                    </mat-list-item>
                    <mat-list-item>
                        <i>Students get to learn within the security and creative environment of their own homes</i>
                    </mat-list-item>
                    <mat-list-item>
                        <i>Daily lessons that will challenge the students to improve their learning, every step of the way</i>
                    </mat-list-item>
                    <mat-list-item>
                        <i>Regular assignments to assess their progress and learning</i>
                    </mat-list-item>
                    <mat-list-item>
                        <i>Regular web classes to allow students to bond with others and learn together, much like a school-environment</i>
                    </mat-list-item>
                    <mat-list-item>
                        <i>Ability to reach out to the teachers, coaches and mentors for added assistance, as and when necessary</i>
                    </mat-list-item>
                    <mat-list-item>
                        <i>
                            Extra-curricular activities that will push the child to learn and perform beyond the confines of books, 
                            with regular competitions on music, art, etc.
                        </i>
                    </mat-list-item>
                    <mat-list-item>
                        <i>Virtual field trips, workshops and online clubs for students to interact and learn from each other</i>
                    </mat-list-item>
                </mat-list>
                <p>
                    Our programs and curriculum are formulated and designed to offer authentic school-like learning environments 
                    to our students but without the long bus rides and the long hours of confinement within cramped-up classroom walls.
                </p>

            </mat-card-conttent>
        </span>

        <mat-card-content class="titlewrapper block4titlewrapper2">
            <h2>What Role Do You Have As A Parent?</h2>
            <p>
                Well, as a parent, you obviously have the most important role to play in how your child learns and grows. 
                Remember, learning begins right at home. However, we are here to make the process easier for you, while 
                also opening up a world of possibilities for your child to learn all that they need and are interested in.
            </p>
        </mat-card-content>
    </span>
    <img class="lstabimg" src="../../../../../assets/images/sp_banner4.png">
        <span class="mainwrappercontent bloghead">

        <span class="block5subwrapper">
            
            <mat-card-conttent class="textwrapper">
                <p>
                   <strong>With our programs, you will find all the necessary tools and resources to plan,</strong>  
                    schedule and execute learning processes for your child. Once you are inside our robust, 
                    but a simple and easy-to-use system, you will be view lessons, maintain your child’s 
                    attendance to these classes and monitor what he or she learns. You will also be able 
                    to track the pace at which they learn and accelerate if there is a need for the same, 
                    with the multitude of resources available to you.
                </p>

                <p>
                    Our commitment is to make it easy and convenient for your child to learn while freeing them of the burden 
                    of heavy school bags, large stacks of school books and long bus rides. With this freedom, they 
                    can dedicate more time and effort towards learning more about the subjects that actually interest them. 
                    At the same time, it also leaves them with more time for sports and other such activities that will help them enjoy a happier childhood.
                </p>
            </mat-card-conttent>
        </span>
    </span>
</mat-card>

<app-footer></app-footer>