 
    <mat-card-content class="bottom_blog">    
      <span class="item_wrapper">
        <mat-card-content class="item">
          <span class="item_images">
            <img src="../../../../assets/images/blog-img1.jpg">
          </span>
          <mat-card-content class="contentsection">
            <mat-card-title class="inner_header">Lorem Ipsum is simply dummy</mat-card-title>
            <span class="author">
              <span class="authornmimg">
                <span class="writer_image">
                  <img src="../../../../assets/images/blog-icon.png">
                </span>
                <p class="authorName">author name</p>
              </span>
              <p class="date">Date: 08/05/2019 </p>
            </span>
            <p class="description">
              Mauris mattis auctor cursus. Phasellus tellus tellus, imperdiet ut imperdiet eu, iaculis a sem. Donec
              vehicula luctus nunc in...<a class="next_page" routerLink="/">read more</a>
            </p>  
            <span class="blogsociallists">
                <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
              </span>          
          </mat-card-content>
        </mat-card-content>  
        <mat-card-content class="item">
          <span class="item_images">
            <img src="../../../../assets/images/blog-img2.jpg">
          </span>
          <mat-card-content class="contentsection">
            <mat-card-title class="inner_header">Lorem Ipsum is</mat-card-title>
            <span class="author">
              <span class="authornmimg">
                <span class="writer_image">
                  <img src="../../../../assets/images/blog-icon.png">
                </span>
                <p class="authorName">author name</p>
              </span>
              <p class="date">Date: 08/05/2019 </p>
            </span>
            <p class="description">
              Mauris mattis auctor cursus. Phasellus tellus tellus, imperdiet ut imperdiet eu, iaculis a sem. Donec
              vehicula luctus nunc in...<a class="next_page" routerLink="/">read more</a>
            </p>  
            <span class="blogsociallists">
                <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
              </span>          
          </mat-card-content>
        </mat-card-content>  
        <mat-card-content class="item">
          <span class="item_images">
            <img src="../../../../assets/images/blog-img3.jpg">
          </span>
          <mat-card-content class="contentsection">
            <mat-card-title class="inner_header">Lorem Ipsum is simply dummy</mat-card-title>
            <span class="author">
              <span class="authornmimg">
                <span class="writer_image">
                  <img src="../../../../assets/images/blog-icon.png">
                </span>
                <p class="authorName">author name</p>
              </span>
              <p class="date">Date: 08/05/2019 </p>
            </span>
            <p class="description">
              Mauris mattis auctor cursus. Phasellus tellus tellus, imperdiet ut imperdiet eu, iaculis a sem. Donec
              vehicula luctus nunc in...<a class="next_page" routerLink="/">read more</a>
            </p>     
            <span class="blogsociallists">
                <a class="sociallink fa fb"><fa name="facebook" class="fa-facebook"></fa></a>
                <a class="sociallink fa twi"><fa name="twitter" class="fa-twitter"></fa></a>
                <a class="sociallink fa pin"><fa name="pinterest" class="fa-pinterest"></fa></a>
                <a class="sociallink fa lin"><fa name="linkedin" class="fa-linkedin"></fa></a>
                <a class="sociallink fa env"><fa name="envelope" class="fa-envelope"></fa></a>
                <a class="sociallink fa share"><fa name="share" class="fa-share"></fa></a>
            </span>       
          </mat-card-content>
        </mat-card-content>  
        
      </span>
      <button mat-button class="btnblue sim-button" [routerLink]="['/blog']">Learn More</button>
    </mat-card-content>

